{% extends 'layout.html.twig' %}

{% block content %}
	<table class="table table-striped" id="apikeys_table">
		<thead>
			<tr>
				<th>Id:</th>
				<th>API-nøkkel:</th>
				<th>API-secret:</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for key in UKMAPIKeyCollection.getAllKeys() %}
				<tr>
					<th scope="row">{{ key.id }}</th>
					<td>{{ key.api_key }}</td>
					<td>{{ key.api_secret }}</td>
					<td>
						<form method="POST" action="{{ delete_apikey_action }}">
							<button name="delete_id" value="{{ key.id }}" class="btn btn-danger confirm" onclick="return confirm('Er du sikker på at du vil slette denne?');" type="submit">Slett</button>
						</form>
					</td>
				</tr>
			{% else %}
					</tbody>
				</table>
				<b>
					Det finnes ingen api-nøkler i databasen. Det vil si at ingen tjenester som bruker UKMAccessBundle har tilgang til å hente ut data.
				</b>
				<table class="table table-striped" id="apikeys_table">
					<tbody>
			{% endfor %}

			<tr>
				<form class="form" action="{{ new_apikey_action }}" method="POST">
					<td>
						{# <input class="form-control" type="numeric" disabled> #}
						<button class="btn btn-success" type="submit">Lagre</button>
					</td>
					<td>
						<input id="api_key" name="api_key" class="form-control" type="text" required="required">
					</td>
					<td>
						<input id="api_secret" name="api_secret" class="form-control" type="text" placeholder="">
					</td>
				</form>
			</tr>
			<tr>
				<td>
					ID autogenereres av databasen.
				</td>
				<td>
					API-nøkkel-feltet er en unik, tekstbasert identifikator for tjenesten du legger til. 
				</td>
				<td>
					API-secret-feltet autogenereres av serveren hvis feltet er tomt - fyll kun ut dette dersom du driver med testing og vil ha en secret som er lett å huske.
				</td>
				<td></td>
			</tr>
		</tbody>
	</table>
{% endblock %}